
/EFToolkit/bin
/EFToolkit/obj
/.vs/EFToolkit/DesignTimeBuild/.dtbcache.v2
/.vs/EFToolkit/v17/.suo
/.vs/EFToolkit/v17/DocumentLayout.json
/.vs/ProjectEvaluation/eftoolkit.metadata.v7.bin
/.vs/ProjectEvaluation/eftoolkit.projects.v7.bin
*.vsidx
/.vs/EFToolkit/FileContentIndex/4997b181-bf19-4177-ad6a-495c81f28dc8.vsidx
/.vs/EFToolkit/FileContentIndex/6de59170-ed15-476b-950b-a177eb2df39b.vsidx
/.vs/EFToolkit/FileContentIndex/864632f3-72dc-47cf-bcda-274653ffdf5a.vsidx
/.vs/EFToolkit/FileContentIndex/92bfe983-1b57-4cec-aac0-2d36da51e0fd.vsidx
/.vs/EFToolkit/FileContentIndex/e4fa9c8b-5e95-41ec-9245-92435ad35f43.vsidx
